* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  text-decoration: none;
  color: black;
}

h1, h2, h3, h4, h5, h6, b, sub {
  font-family: "Raleway", sans-serif;
}

.header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 52px 0px 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.header > .logo_wrapper {
  position: absolute;
  top: 35px;
  left: 18.75%;
}
.header > .logo_wrapper > b {
  color: #c1c1c1;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header > .logo_wrapper > b.bottom {
  position: absolute;
  top: 20px;
  left: -21px;
}
.header .nav .nav_list {
  list-style-type: none;
  display: flex;
  gap: 45px;
}
.header .nav .nav_list > li {
  color: #adadad;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}
.header .nav .nav_list > li > a {
  color: inherit;
  font-weight: inherit;
}

#hero {
  width: 100%;
  position: relative;
  height: 1080px;
  background: linear-gradient(180deg, #01353E 0%, rgba(118, 118, 118, 0.6) 31.64%, rgba(250, 250, 250, 0.22) 74.35%, rgba(194, 194, 194, 0) 99.87%), url(./images/hero_bg.png) 100%/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#hero > h1 {
  color: #0D302C;
  font-size: 200px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
#hero > p {
  color: black;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 150px;
}
#hero > .anchor {
  width: 20px;
  height: 68.807px;
  position: absolute;
  bottom: 92.19px;
}

#about_us {
  width: 100%;
  height: 966px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 100px 0px;
}
#about_us > h2 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#about_us > .about_us_info_wrapper {
  width: 1080px;
  display: flex;
  justify-content: space-between;
}
#about_us > .about_us_info_wrapper > .left_info_block {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#about_us > .about_us_info_wrapper > .right_info_block > p:nth-child(1) {
  margin-bottom: 48px;
}
#about_us > .about_us_info_wrapper > .right_info_block > p:nth-child(2) {
  margin-bottom: 79px;
}
#about_us > .about_us_info_wrapper > .right_info_block > p:nth-child(3) {
  margin-bottom: 30px;
}
#about_us > .about_us_info_wrapper > .left_info_block, #about_us > .about_us_info_wrapper .right_info_block {
  width: 480px;
}
#about_us > .about_us_info_wrapper > .left_info_block > p, #about_us > .about_us_info_wrapper .right_info_block > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}

#what_youll_recieve {
  background: #F8F8F8;
  width: 100%;
  height: 953px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 101px;
}
#what_youll_recieve > h3 {
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .info_wrapper {
  display: flex;
  gap: 75px;
  width: 1200px;
}
#what_youll_recieve > .info_wrapper > .info_item {
  width: 351px;
}
#what_youll_recieve > .info_wrapper > .info_item > div {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
#what_youll_recieve > .info_wrapper > .info_item > div > p {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .info_wrapper > .info_item > p {
  margin-top: 19px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .about_us {
  width: 1200px;
  margin: 2px auto 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#what_youll_recieve > .about_us > .statistics > .stat_item:nth-child(-n+2) {
  margin-bottom: 18px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item > div {
  margin-bottom: 1px;
  display: flex;
  align-items: center;
  gap: 10px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item > div > img {
  width: 200px;
  height: 15px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item > div > .second_wave {
  width: 247px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item > div > .third_wave {
  width: 293px;
}
#what_youll_recieve > .about_us > .statistics > .stat_item > div > p {
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .about_us > .about_education > p {
  width: 600px;
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#what_youll_recieve > .about_us > .about_education > p:nth-child(1) {
  margin-bottom: 30px;
}

#cta {
  height: 903px;
  display: flex;
  align-items: start;
  justify-content: end;
  gap: 41px;
}
#cta > .cta_info {
  align-self: center;
  width: 555px;
}
#cta > .cta_info > h4 {
  position: relative;
  margin-bottom: 100px;
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#cta > .cta_info > h4 > sub {
  position: absolute;
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#cta > .cta_info > p {
  color: #242121;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#cta > .cta_info > p:nth-child(-n+3) {
  margin-bottom: 30px;
}
#cta > .cta_image {
  width: 960px;
  height: 850px;
}

#galery {
  margin-top: 147px;
  height: 1262px;
}
#galery > h5 {
  position: relative;
  margin-bottom: 200px;
  text-align: center;
  color: #01353E;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#galery > h5 > sub {
  position: absolute;
  color: #00B2A0;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.6px;
}
#galery > .galery_info {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
#galery > .galery_info > button {
  width: 350px;
  height: 70px;
  border: 1px solid #C4C4C4;
  background: #FFF;
  cursor: pointer;
  text-transform: uppercase;
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#galery > .galery_info > .galery_categorys {
  display: flex;
  align-self: start;
  gap: 20px;
}
#galery > .galery_info > .galery_categorys > p {
  text-transform: uppercase;
  cursor: pointer;
  color: #242121;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.6px;
}
#galery > .galery_info > .images_wrapper {
  display: flex;
  gap: 40px;
}
#galery > .galery_info > .images_wrapper > .images_left_side, #galery > .galery_info > .images_wrapper .images_right_side {
  width: 580px;
  display: flex;
  gap: 40px 37px;
  flex-wrap: wrap;
}
#galery > .galery_info > .images_wrapper > .images_left_side > img, #galery > .galery_info > .images_wrapper .images_right_side > img {
  transition: 0.5s;
}
#galery > .galery_info > .images_wrapper > .images_left_side > img:hover, #galery > .galery_info > .images_wrapper .images_right_side > img:hover {
  transform: scale(1.1);
}/*# sourceMappingURL=style.css.map */